.menu{
    display: flex;
    justify-content: space-between;
    &__link{
        font-family: $title;
        text-transform: uppercase;
        font-size: 14px;
        color:#fff;
        padding: 10px 0; 
        border-bottom: 3px solid transparent;
    }
    &__link:hover{
        color:#fce38a;
        border-bottom: 3px solid #fce38a;
    }
    &__img{
        display: block;
        width: 17px;
    }
}