//fonts

$text: 'Roboto',  sans-serif; 
$title: 'Montserrat', sans-serif; 
$sub-title: 'Kaushan Script', sans-serif; 

// colors

$pink: #f38181;
$yellow: #fce38a; 
$green: #eaffd0; 
$mint: #95e1d3; 
$grey-title: #333333; 
$grey-text: #a0a0a0; 

