*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

.conteiner{

    background-image:url("../img/page-bg.jpg");
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding-top: 120px;
    padding-bottom: 500px;
}

.wrapper{
    
    width: 480px;
    padding-top: 30px;
    padding-left: 37px; 
    padding-right: 37px;
    padding-bottom: 43px; 
    background: white;
    margin: auto; 
}

.title{

    font-family:"Pathway Gothic One", sans-serif;
    text-transform: uppercase; 
    margin-bottom: 30px; 
    color: #263555;
}

.text{
    font-size:12px;  
}

.bold-text{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #263555;

}

.profile-article, .principles-list, .offer-article, .offer-list{ 
    margin: auto;   
}

.principles-list{
   margin-top:50px;    
   padding-bottom:52px; 
   border-bottom:1px solid #dedbdb; 
    
}

.offer-article{
     margin-top: 55px; 
     margin-bottom: 36px;   
} 

.offer-list{
    padding-left: 23px;
}

.img{
    display: block;
    margin: auto; 
}
.list li{

    list-style-type: none; 
    margin-bottom: 25px;
    
}

.list-title{
    margin-bottom:17px;
    color:#263555;
}

.offer-list ul {

  column-count: 2;
  font-size:14px; 
}



