
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


ul{
    list-style: none;

}

a{
    text-decoration: none;
}

.wrapper--top{
    background-image: url("../img/background/bcg.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 230px;

}
.wrapper--white{
    background-color: #fff;
    padding-top: 45px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .wrapper--top {
        background-image: url("../img/bcg@2x.png"); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.container{
    width: 1200px;
    margin: auto;
}

.header__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 160px;
}

.logo{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#fff;
}

.nav{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}

.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu__link{
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color:#fff;
    padding: 10px 0; 
    border-bottom: 3px solid transparent;

}
.menu__link:hover{
    color:#fce38a;
    border-bottom: 3px solid #fce38a;
   
}
.menu__img{
    display: block;
    width: 17px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title--white{
    color:#fff;   
}

.title--black{
    font-size: 30px;
    color: #333333;
}

.header__title{
    margin: auto;
    margin-bottom: 125px;
    width: 815px;
    font-size: 150px;
}
.before-title{
    font-family: "Kaushan Script";
    text-align: center;
}
.header__before-title{
    font-size: 72px;
    margin-bottom: 40px;
}

.bofore-title--white{
    color: #fff;
}

.button{
  text-align: center;
}
.button__link{
    font-family: "Montserrat",sans-serif;
    border: 3px solid #fff;
    padding: 12px 28px; 
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.title--black::after{
    display: block; 
    content:''; 
    width: 60px;
    height: 4px;
    background-color: #f38181;
    margin: 40px  auto 40px;
}
.services{
    margin-bottom: 90px;
}
.services__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    height: 250px;
}

.services__item{
   width: 30%;
}

.services__icon{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.services__info{
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

.name{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

.services__name{
    margin-bottom: 20px;
}
.team__name{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#999;
    line-height: 24px;
}

.text--italic{
    font-style: italic;
}
.text--center{
    text-align: center;
}
.team__text{
    width: 965px;
    margin: auto;
 
}

.team__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    margin-top: 95px;
}

.team__photo{
    position: relative;
    height: 470px;
    width: 380px;
}

.hover-content{
    display: none;
    width: 100%;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 140, 138, 0.8)),to(rgba(239, 214, 133, 0.8)) );
    background-image: -webkit-linear-gradient(top, rgba(240, 140, 138, 0.8),rgba(239, 214, 133, 0.8) );
    background-image: -o-linear-gradient(top, rgba(240, 140, 138, 0.8),rgba(239, 214, 133, 0.8) );
    background-image: linear-gradient(to bottom, rgba(240, 140, 138, 0.8),rgba(239, 214, 133, 0.8) );
    position: absolute;
    top:0;
}
.team__photo:hover>.hover-content{
    display: block;
}
.team__photo:hover{
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);  
    -webkit-box-shadow: 10px 10px 0 #95e1d3;  
            box-shadow: 10px 10px 0 #95e1d3;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
} 

.social-media{
    position: absolute;
    top:45%;
    left: 20%;
}

.social-media__icon {
    width: 56px;
    height: 56px;
    fill: #f38181;
    background-color:#fce38a;
    text-align: center;
    padding: 14px 0 15px;
    margin-right: -2px;
    
}
.social-media__icon:hover{
    background-color: #f38181;
    fill:#fff; 
}


.footer{
    padding: 25px 0;
    border-top:1px solid #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top:75px;
}

.copyright{
    font-family: "Montserrat",sans-serif;
    font-size:14px;
}
.copyright__link{
    color: #f38181;
}


.form__subscribe{
    background-color: #95e1d3;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: bold;
    padding: 15px 30px;
    border:0; 
    margin-left: -4px;

}
.form__input{
    height: 100%;
    padding: 13px 15px;
    border: 1px solid #e7e7e7;
    border-right: transparent;
    

}

::-webkit-input-placeholder{
    color: #ccc;
    font-family: Roboto;
    font-weight: 300; 
    font-style: italic;
    font-size: 15px;
}
:-ms-input-placeholder{
    color: #ccc;
    font-family: Roboto;
    font-weight: 300; 
    font-style: italic;
    font-size: 15px;
}
::-ms-input-placeholder{
    color: #ccc;
    font-family: Roboto;
    font-weight: 300; 
    font-style: italic;
    font-size: 15px;
}
::placeholder{
    color: #ccc;
    font-family: Roboto;
    font-weight: 300; 
    font-style: italic;
    font-size: 15px;
}


